{% extends "base.html" %}
{% block content %}
 <div class="header vert" align="center">
        <form class="form-horizontal" action="/created" method="POST">
                                <fieldset>
                                    <div id="legend">
                                        <h1 class="page-header">Create an Item</h1>
                                    </div>
									
                                    
									
									<div class="control-group">
                                        <label class="control-label"  for="price">Table Number</label>
                                        <div class="controls">
                                            <input type="number" id="table" name="table_number" placeholder="Input Table Number" class="input-xlarge">
                                        </div>
                                    </div>
									
									<div class="control-group">
                                        <label class="control-label"  for="name">Purchaser's Name</label>
                                        <div class="controls">
                                            <input type="text" id="person_name" name="person_name" placeholder="Person Name" class="input-xlarge">
                                        </div>
                                    </div>
									
									<div class="control-group">
                                        <label class="control-label"  for="name">Drink Name</label>
                                        <div class="controls">
                                            <input type="text" id="drink_name" name="drink_name" placeholder="Drink Name" class="input-xlarge">
                                        </div>
                                    </div>
									
									 <label class="control-label"  for="type">Deliver</label>
                                        <div class="controls">
                                            <select name="pick_up">
												<option value="Deliver to Table">Deliver to Table</option>
												<option value="Pick Up">Pick Up</option>
											</select>
                                        </div>
                                    
                                    
                                    <br>
                                    <div class="control-group">
                                        <!-- Button -->
                                        <div class="controls">
											<button class="btn btn-success">Place Order</button>
										</div>
                                    </div>
                                        </div>
										
										</div>
                                    <br>
                                    <br>
                                    <br>
                                </fieldset>
        </form>
</div>
{% endblock %}